body{
    margin:auto;
    text-align: center;
}

#getModal {
    text-align: center;
    border-radius: 40px;
    width: 100px;
    height: 40px;
    margin:20px;
}

#getModal:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}